.userpage {
 width: 100%;
 height: 212vh;
 background-color: whitesmoke;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.userpage .laptopSize {
 width: 1000px;
 height: 167vh;
}

.userpage .laptopSize .Title {
 margin-top: 20px;
 width: 1000px;
 height: 80px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: start;
}

.userpage .laptopSize h1 {
 font-style: normal;
 font-weight: bold;
 font-size: 24px;
 line-height: 28px;
 color: #213F7D;
}

.userpage .laptopSize .cards {
 width: 1000px;
 height: 180px;
 display: flex;
 margin-bottom: 40px;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.userpage .laptopSize .cards .card {
 width: 240px;
 border-radius: 4px;
 height: 180px;
 border: 0;
 display: flex;
 flex-direction: column;
}

.userpage .laptopSize .cards .card .card-top {
 width: 220px;
 padding-left: 20px;
 height: 80px;
 display: flex;
 align-items: center;
}

.userpage .laptopSize .cards .card .card-top img {
 width: 40px;
 height: 40px;
}

.userpage .laptopSize .cards .card .card-body {
 width: 220px;
 padding-left: 20px;
 height: 40px;
 display: flex;
 align-items: center;
}

.userpage .laptopSize .cards .card .card-body h1 {
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 16px;
 text-transform: uppercase;
 color: #545F7D;
}

.userpage .laptopSize .cards .card .card-footer {
 width: 220px;
 padding-left: 20px;
 border: 0;
 height: 60px;
 display: flex;
 background-color: transparent;
 align-items: center;
}

.userpage .laptopSize .cards .card .card-footer h1 {
 font-style: normal;
 font-weight: bolder;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
 color: #213F7D;
}

.userpage .laptopSize .displayUsers {
 width: 1000px;
 height: 790px;
 border-radius: 4px;
 background-color: #FFFFFF;
}

.userpage .laptopSize .displayUsers .filterBar {
 width: 958px;
 height: 80px;
 display: flex;
 flex-direction: row;
 z-index: 8;
 justify-content: space-between;
 border-radius: 4px;
}

.userpage .laptopSize .displayUsers .filterBar .filters {
 width: 159.66px;
 height: 80px;
 display: flex;
 flex-direction: row;
 padding-left: 20px;
 align-items: center;
 background-color: #FFFFFF;
 outline: none;
 border: 0px;
}

.userpage .laptopSize .displayUsers .filterBar .filters h1 {
 font-style: normal;
 font-weight: bolder;
 font-size: 13px;
 line-height: 14px;
 text-transform: uppercase;
 color: #545F7D;
}

.userpage .laptopSize .displayUsers .filterBar .filters button {
 background-color: transparent;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 30px;
 outline: none;
 border: 0;
 height: 30px;
}

.userpage .laptopSize .displayUsers .filterBar .filters img {
 width: 14px;
 height: 9.67px;
 margin-top: -5px;
}

.userpage .laptopSize .displayUsers .displayU {
 width: 1000px;
 display: flex;
 flex-direction: column;
 padding-left: 20px;
 padding-right: 20px;
 height: 710px;
}

.userpage .laptopSize .displayUsers .displayU li {
 width: 958px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 height: 78.88px;
 border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.userpage .laptopSize .displayUsers .displayU li .details {
 width: 159.66px;
 display: flex;
 align-items: center;
 justify-content: left;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 color: #545F7D;
 height: 78.88px;
}