.userdetails {
 width: 100%;
 height: 222vh;
 background-color: whitesmoke;
 display: flex;
 flex-direction: column;
 align-items: center;

 .laptopSize {
  width: 1000px;
  display: flex;
  flex-direction: column;
  height: 204vh;

  .backBtn {
   width: 1000px;
   margin-top: 60px;
   height: 10vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;

   .button {
    width: 200px;
    text-decoration: none;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    h1 {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     margin-top: 5px;
     line-height: 19px;
     /* identical to box height */
     color: #545F7D;
    }

    img {
     width: 30px;
     height: 30px;
     margin-right: 13px;
    }
   }
  }

  .title {
   width: 1000px;
   display: flex;
   flex-direction: row;
   align-items: start;
   justify-content: space-between;
   height: 80px;

   h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #213F7D;
   }

   .Btns {
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: 40px;

    button {
     width: 170px;
     display: flex;
     background-color: transparent;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     height: 40px;
    }

    #blacklist {
     border: 1px solid #E4033B;
     border-radius: 8px;
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     /* identical to box height */
     text-align: center;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     color: #E4033B;
    }

    #activate {
     border: 1px solid #39CDCC;
     border-radius: 8px;
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     /* identical to box height */
     text-align: center;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     color: #39CDCC;
    }
   }
  }

  .userPro {
   width: 1000px;
   height: 210px;
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   background: #FFFFFF;
   border: 1px solid rgba(33, 63, 125, 0.06);
   box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
   border-radius: 4px;
   margin-bottom: 30px;

   .top {
    width: 940px;
    height: 181px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #FFFFFF;

    img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-right: 20px;
    }

    .profileName {
     width: 210px;
     height: 50px;
     display: flex;
     flex-direction: column;
     align-items: start;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      /* identical to box height */
      color: #213F7D;
     }

     h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;
     }
    }

    .userTier {
     width: 133px;
     height: 80px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-left: 1px solid #545F7D;
     border-right: 1px solid #545F7D;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #545F7D;
     }

     .stars {
      height: 13.43px;
      margin-left: -10px;
      display: flex;
      flex-direction: row;
      padding: 0;
      align-items: center;
      justify-content: space-between;
      width: 50px;

      img {
       height: 13px;
       margin: 0;
       width: 14px;
      }
     }
    }

    .bankAmo {
     height: 50px;
     margin: 0;
     width: 250px;
     margin-top: 5px;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding-left: 30px;
     justify-content: center;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #213F7D;
     }

     h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */
      color: #213F7D;
     }
    }
   }

   .bottom {
    width: 940px;
    height: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;

    button {
     width: 155px;
     height: 29px;
     display: flex;
     border: 0px;
     outline: none;
     align-items: center;
     justify-content: center;
     background: #FFFFFF;

     h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;
      color: rgba(0, 0, 0, 0.8);
     }
    }

    .active {
     border-bottom: 2px solid #39CDCC;

     h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-align: center;
      color: #39CDCC;
     }
    }
   }
  }

  .userDetail {
   width: 1000px;
   height: 959px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid rgba(33, 63, 125, 0.06);
   box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
   border-radius: 4px;
   background-color: #FFFFFF;
   border: 0px;

   .personalInfo {
    width: 940px;
    height: 230px;
    display: flex;
    flex-direction: column;
    border: 0px;
    border-bottom: 1px solid #213F7D;

    .title {
     width: 940px;
     height: 79px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      color: #213F7D;
     }
    }

    .personalDetail {
     width: 940px;
     height: 130px;
     display: flex;
     flex-direction: row;
     background-color: white;
     align-items: center;
     justify-content: space-between;
     justify-content: left;
     flex-wrap: wrap;

     .Detail {
      width: 188px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 14px;
       /* identical to box height */
       text-transform: uppercase;
       color: #545F7D;
      }

      h2 {
       font-style: normal;
       font-weight: 500;
       width: 180px;
       height: 40px;
       font-size: 10px;
       text-align: left;
       line-height: 19px;
       /* identical to box height */
       color: #545F7D;
      }
     }
    }
   }

   .educationInfo {
    width: 940px;
    height: 230px;
    display: flex;
    flex-direction: column;
    border: 0px;
    border-bottom: 1px solid #213F7D;

    .title {
     width: 940px;
     height: 79px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      color: #213F7D;
     }
    }

    .personalDetail {
     width: 940px;
     height: 130px;
     display: flex;
     flex-direction: row;
     background-color: white;
     align-items: center;
     justify-content: space-between;
     justify-content: left;
     flex-wrap: wrap;

     .Detail {
      width: 228px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 14px;
       /* identical to box height */
       text-transform: uppercase;
       color: #545F7D;
      }

      h2 {
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
       line-height: 19px;
       /* identical to box height */
       color: #545F7D;
      }
     }
    }
   }

   .socialInfo {
    width: 940px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border: 0px;
    border-bottom: 1px solid #213F7D;

    .title {
     width: 940px;
     height: 79px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      color: #213F7D;
     }
    }

    .personalDetail {
     width: 940px;
     height: 60px;
     display: flex;
     flex-direction: row;
     background-color: white;
     align-items: center;
     justify-content: space-between;
     justify-content: left;
     flex-wrap: wrap;

     .Detail {
      width: 188px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 14px;
       /* identical to box height */
       text-transform: uppercase;
       color: #545F7D;
      }

      h2 {
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
       line-height: 19px;
       /* identical to box height */
       color: #545F7D;
      }
     }
    }
   }

   .guarantorInfo {
    width: 940px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border: 0px;
    border-bottom: 1px solid #213F7D;

    .title {
     width: 940px;
     height: 79px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: left;

     h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      color: #213F7D;
     }
    }

    .personalDetail {
     width: 940px;
     height: 60px;
     display: flex;
     flex-direction: row;
     background-color: white;
     align-items: center;
     justify-content: space-between;
     justify-content: left;
     flex-wrap: wrap;

     .Detail {
      width: 188px;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 14px;
       /* identical to box height */
       text-transform: uppercase;
       color: #545F7D;
      }

      h2 {
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
       line-height: 19px;
       /* identical to box height */
       color: #545F7D;
      }
     }

    }
   }

   #guarantorBottom {
    border-bottom: 0px;
   }
  }
 }
}

@media (min-width: 900px) and (max-width: 999px) {
 .userdetails {
  width: 100%;
  height: 212vh;

  .laptopSize {
   width: 900px;
   height: 204vh;

   .backBtn {
    width: 900px;
    margin-top: 60px;
    height: 10vh;

    .button {
     width: 200px;
     height: 8vh;

     img {
      width: 30px;
      height: 30px;
      margin-right: 13px;
     }

     h1 {
      font-size: 16px;
      margin-top: 5px;
     }
    }
   }

   .title {
    width: 900px;
    height: 80px;

    h1 {
     font-size: 24px;
    }

    .Btns {
     width: 360px;
     height: 40px;

     button {
      width: 170px;
      height: 40px;
     }

     #blacklist {
      border-radius: 8px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
     }

     #activate {
      border-radius: 8px;
      line-height: 16px;
      /* identical to box height */
      letter-spacing: 0.1em;
      font-size: 13px;
     }
    }
   }

   .userPro {
    width: 900px;
    height: 210px;
    padding-left: 30px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 840px;
     height: 181px;

     img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
     }

     .profileName {
      width: 210px;
      height: 50px;

      h1 {
       font-size: 22px;
      }

      h2 {
       font-size: 14px;
      }
     }

     .userTier {
      width: 133px;
      height: 80px;

      h1 {
       font-size: 14px;
      }

      .stars {
       height: 13.43px;
       margin-left: -10px;
       width: 50px;

       img {
        height: 13px;
        width: 14px;
       }
      }
     }

     .bankAmo {
      height: 50px;
      margin: 0;
      width: 250px;
      margin-top: 5px;
      padding-left: 30px;

      h1 {
       font-size: 22px;
      }

      h2 {
       font-size: 12px;
      }
     }
    }

    .bottom {
     width: 840px;
     height: 29px;

     button {
      width: 139px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
      }
     }
    }
   }

   .userDetail {
    width: 900px;
    height: 959px;

    .personalInfo {
     width: 840px;
     height: 230px;

     .title {
      width: 840px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 840px;
      height: 130px;

      .Detail {
       width: 188px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        width: 180px;
        height: 40px;
        font-size: 10px;
       }
      }
     }
    }

    .educationInfo {
     width: 840px;
     height: 230px;

     .title {
      width: 840px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 840px;
      height: 130px;

      .Detail {
       width: 208px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }

    .socialInfo {
     width: 840px;
     height: 160px;

     .title {
      width: 840px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 840px;
      height: 60px;

      .Detail {
       width: 188px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 840px;
     height: 160px;

     .title {
      width: 840px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 840px;
      height: 60px;

      .Detail {
       width: 188px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 800px) and (max-width: 899px) {
 .userdetails {
  width: 100%;
  height: 212vh;

  .laptopSize {
   width: 800px;
   height: 204vh;

   .backBtn {
    width: 800px;
    margin-top: 60px;
    height: 10vh;

    .button {
     width: 200px;
     height: 8vh;

     img {
      width: 30px;
      height: 30px;
      margin-right: 13px;
     }

     h1 {
      font-size: 16px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 800px;
    height: 35px !important;
    margin-bottom: 10px;

    h1 {
     font-size: 24px;
    }

    .Btns {
     width: 300px;
     height: 35px;

     button {
      width: 140px;
      height: 35px;
     }

     #blacklist {
      border-radius: 8px;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
     }

     #activate {
      border-radius: 8px;
      line-height: 16px;
      font-size: 11px;
      /* identical to box height */
      letter-spacing: 0.1em;
     }
    }
   }

   .userPro {
    width: 800px;
    height: 210px;
    padding-left: 30px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 740px;
     height: 181px;

     img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 20px;
     }

     .profileName {
      width: 210px;
      height: 50px;

      h1 {
       font-size: 22px;
      }

      h2 {
       font-size: 14px;
      }
     }

     .userTier {
      width: 133px;
      height: 80px;

      h1 {
       font-size: 14px;
      }

      .stars {
       height: 13.43px;
       margin-left: -10px;
       width: 50px;

       img {
        height: 13px;
        width: 14px;
       }
      }
     }

     .bankAmo {
      height: 50px;
      margin: 0;
      width: 250px;
      margin-top: 5px;
      padding-left: 30px;

      h1 {
       font-size: 22px;
      }

      h2 {
       font-size: 12px;
      }
     }
    }

    .bottom {
     width: 740px;
     height: 29px;

     button {
      width: 122px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
      }
     }
    }
   }

   .userDetail {
    width: 800px;
    height: 959px;

    .personalInfo {
     width: 740px;
     height: 230px;

     .title {
      width: 740px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 740px;
      height: 130px;

      .Detail {
       width: 178px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        width: 175px;
        height: 40px;
        font-size: 10px;
       }
      }
     }
    }

    .educationInfo {
     width: 740px;
     height: 230px;

     .title {
      width: 740px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 740px;
      height: 130px;

      .Detail {
       width: 178px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }

    .socialInfo {
     width: 740px;
     height: 160px;

     .title {
      width: 740px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 740px;
      height: 60px;

      .Detail {
       width: 178px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 740px;
     height: 160px;

     .title {
      width: 740px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 740px;
      height: 60px;

      .Detail {
       width: 178px;
       height: 50px;

       h1 {
        font-size: 12px;
       }

       h2 {
        font-size: 10px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 700px) and (max-width: 799px) {
 .userdetails {
  width: 100%;
  height: 212vh;

  .laptopSize {
   width: 700px;
   height: 204vh;

   .backBtn {
    width: 700px;
    margin-top: 40px;
    height: 10vh;
    margin-bottom: 20px;

    .button {
     width: 200px;
     height: 5vh;

     img {
      width: 30px;
      height: 30px;
      margin-right: 13px;
     }

     h1 {
      font-size: 16px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 700px;
    height: 35px !important;
    margin-bottom: 10px;

    h1 {
     font-size: 24px;
    }

    .Btns {
     width: 260px;
     height: 35px;

     button {
      width: 120px;
      height: 35px;
     }

     #blacklist {
      border-radius: 8px;
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
     }

     #activate {
      border-radius: 8px;
      line-height: 16px;
      font-size: 10px;
      /* identical to box height */
      letter-spacing: 0.1em;
     }
    }
   }

   .userPro {
    width: 700px;
    height: 190px;
    padding-left: 30px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 640px;
     height: 161px;

     img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 20px;
     }

     .profileName {
      width: 180px;
      height: 50px;

      h1 {
       font-size: 20px;
      }

      h2 {
       font-size: 13px;
      }
     }

     .userTier {
      width: 133px;
      height: 70px;

      h1 {
       font-size: 14px;
      }

      .stars {
       height: 13.43px;
       margin-left: -10px;
       width: 50px;

       img {
        height: 13px;
        width: 14px;
       }
      }
     }

     .bankAmo {
      height: 50px;
      margin: 0;
      width: 230px;
      margin-top: 5px;
      padding-left: 30px;

      h1 {
       font-size: 20px;
      }

      h2 {
       font-size: 12px;
      }
     }
    }

    .bottom {
     width: 640px;
     height: 29px;

     button {
      width: 105px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 13px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 13px;
      }
     }
    }
   }

   .userDetail {
    width: 700px;
    height: 959px;

    .personalInfo {
     width: 640px;
     height: 230px;

     .title {
      width: 640px;
      height: 79px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 640px;
      height: 130px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        width: 175px;
        height: 40px;
        font-size: 9.5px;
       }
      }
     }
    }

    .educationInfo {
     width: 640px;
     height: 230px;

     .title {
      width: 640px;
      height: 79px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 640px;
      height: 130px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .socialInfo {
     width: 640px;
     height: 160px;

     .title {
      width: 640px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 640px;
      height: 60px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 640px;
     height: 160px;

     .title {
      width: 640px;
      height: 79px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 640px;
      height: 60px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 600px) and (max-width: 699px) {
 .userdetails {
  width: 100%;
  height: 143vh !important;

  .laptopSize {
   width: 600px;
   padding: 0;
   margin: 0;
   height: 144vh !important;

   .backBtn {
    width: 600px;
    margin-top: 0px;
    height: 10vh;
    margin-bottom: 10px;

    .button {
     width: 200px;
     height: 5vh;

     img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
     }

     h1 {
      font-size: 16px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 600px;
    height: 35px !important;
    margin-bottom: 10px;

    h1 {
     font-size: 20px;
    }
   }

   .title .Btns {
    width: 260px;
    height: 30px;

    button {
     width: 120px;
     height: 30px;
    }

    #blacklist {
     border-radius: 8px;
     font-size: 10px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.1em;
    }

    #activate {
     border-radius: 8px;
     line-height: 16px;
     font-size: 10px;
     letter-spacing: 0.1em;
    }
   }

   .userPro {
    width: 600px;
    height: 150px;
    padding-left: 30px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 540px;
     height: 121px;

     img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 20px;
     }

     .profileName {
      width: 180px;
      height: 50px;

      h1 {
       font-size: 18px;
      }

      h2 {
       font-size: 12px;
      }
     }

     .userTier {
      width: 113px;
      height: 50px;

      h1 {
       font-size: 13px;
      }

      .stars {
       height: 10.43px;
       margin-left: -10px;
       width: 40px;

       img {
        height: 10px;
        width: 10px;
       }
      }
     }

     .bankAmo {
      height: 50px;
      margin: 0;
      width: 160px;
      margin-top: 5px;
      padding-left: 30px;

      h1 {
       font-size: 16px;
      }

      h2 {
       font-size: 9px;
      }
     }
    }

    .bottom {
     width: 540px;
     height: 29px;

     button {
      width: 90px;
      height: 29px;
     }

     h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 11px;
      }
     }
    }
   }

   .userDetail {
    width: 600px;
    height: 1209px;

    .personalInfo {
     width: 540px;
     height: 260px;

     .title {
      width: 540px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 540px;
      height: 230px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        width: 175px;
        height: 40px;
        font-size: 9.5px;
       }
      }
     }
    }

    .educationInfo {
     width: 540px;
     height: 260px;

     .title {
      width: 540px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 540px;
      height: 230px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .socialInfo {
     width: 540px;
     height: 160px;

     .title {
      width: 540px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 540px;
      height: 60px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 540px;
     height: 230px;

     .title {
      width: 540px;
      height: 29px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 540px;
      height: 200px;

      .Detail {
       width: 160px;
       height: 50px;

       h1 {
        font-size: 11px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 500px) and (max-width: 599px) {
 .userdetails {
  width: 100%;
  height: 143vh !important;

  .laptopSize {
   width: 500px;
   padding: 0;
   margin: 0;
   height: 144vh !important;

   .backBtn {
    width: 500px;
    margin-top: 0px;
    height: 10vh;
    margin-bottom: 10px;

    .button {
     width: 200px;
     height: 5vh;

     img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
     }

     h1 {
      font-size: 10px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 500px;
    height: 35px !important;
    margin-bottom: 10px;

    h1 {
     font-size: 18px;
    }

    .Btns {
     width: 210px;
     height: 30px;

     button {
      width: 100px;
      height: 30px;
     }

     #blacklist {
      border-radius: 8px;
      font-size: 8px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
     }

     #activate {
      border-radius: 8px;
      line-height: 16px;
      font-size: 8px;
      letter-spacing: 0.1em;
     }
    }
   }

   .userPro {
    width: 500px;
    height: 150px;
    padding-left: 30px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 440px;
     height: 121px;

     img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
     }

     .profileName {
      width: 120px;
      height: 40px;

      h1 {
       font-size: 13px;
       margin-bottom: 0;
      }

      h2 {
       font-size: 10px;
      }
     }

     .userTier {
      width: 93px;
      height: 40px;

      h1 {
       font-size: 12px;
      }

      .stars {
       height: 10.43px;
       margin-left: -10px;
       width: 30px;

       img {
        height: 10px;
        width: 10px;
       }
      }
     }

     .bankAmo {
      height: 40px;
      margin: 0;
      width: 130px;
      margin-top: 6px;
      padding-left: 30px;

      h1 {
       font-size: 13px;
       margin-bottom: 0;
      }

      h2 {
       font-size: 8.3px;
      }
     }
    }

    .bottom {
     width: 440px;
     height: 29px;

     button {
      width: 73.33px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 10px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 10px;
      }
     }
    }
   }

   .userDetail {
    width: 500px;
    height: 1209px;

    .personalInfo {
     width: 440px;
     height: 260px;

     .title {
      width: 440px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 440px;
      height: 230px;

      .Detail {
       width: 140px;
       height: 50px;

       h1 {
        font-size: 10px;
       }

       h2 {
        width: 135px;
        height: 40px;
        font-size: 9.5px;
       }
      }
     }
    }

    .educationInfo {
     width: 440px;
     height: 260px;

     .title {
      width: 440px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 440px;
      height: 230px;

      .Detail {
       width: 140px;
       height: 50px;

       h1 {
        font-size: 10px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .socialInfo {
     width: 440px;
     height: 160px;

     .title {
      width: 440px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 440px;
      height: 60px;

      .Detail {
       width: 140px;
       height: 50px;

       h1 {
        font-size: 10px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 440px;
     height: 230px;

     .title {
      width: 440px;
      height: 29px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 440px;
      height: 200px;

      .Detail {
       width: 140px;
       height: 50px;

       h1 {
        font-size: 10px;
       }

       h2 {
        font-size: 9.5px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 400px) and (max-width: 499px) {
 .userdetails {
  width: 100%;
  height: 143vh !important;

  .laptopSize {
   width: 400px;
   padding: 0;
   margin: 0;
   height: 144vh !important;

   .backBtn {
    width: 400px;
    margin-top: 0px;
    height: 10vh;
    margin-bottom: 10px;

    .button {
     width: 110px;
     height: 5vh;

     img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
     }

     h1 {
      font-size: 10px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 400px;
    height: 35px !important;
    margin-bottom: 10px;

    h1 {
     font-size: 15px;
    }

    .Btns {
     width: 165px;
     height: 30px;

     button {
      width: 80px;
      height: 25px;
     }

     #blacklist {
      border-radius: 6px;
      font-size: 6.5px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
     }

     #activate {
      border-radius: 6px;
      line-height: 16px;
      font-size: 6.5px;
      /* identical to box height */
      letter-spacing: 0.1em;
     }
    }
   }

   .userPro {
    width: 400px;
    height: 150px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 360px;
     height: 81px;

     img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
     }

     .profileName {
      width: 120px;
      height: 40px;

      h1 {
       font-size: 13px;
       margin-bottom: 0;
      }

      h2 {
       font-size: 10px;
      }
     }

     .userTier {
      width: 93px;
      height: 40px;

      h1 {
       font-size: 12px;
      }

      .stars {
       height: 10.43px;
       margin-left: -10px;
       width: 30px;

       img {
        height: 10px;
        width: 10px;
       }
      }
     }

     .bankAmo {
      height: 40px;
      margin: 0;
      width: 130px;
      margin-top: 6px;
      padding-left: 30px;

      h1 {
       font-size: 13px;
       margin-bottom: 0;
      }

      h2 {
       font-size: 6px;
      }
     }
    }

    .bottom {
     width: 360px;
     height: 29px;

     button {
      width: 60px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 8px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 8px;
      }
     }
    }
   }

   .userDetail {
    width: 400px;
    height: 1209px;
    padding-left: 10px;
    align-items: start;
    padding-right: 0;

    .personalInfo {
     width: 380px;
     height: 260px;

     .title {
      width: 380px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 380px;
      height: 230px;

      .Detail {
       width: 125px;
       height: 50px;

       h1 {
        font-size: 9px;
       }

       h2 {
        width: 135px;
        height: 40px;
        font-size: 8px;
       }
      }
     }
    }

    .educationInfo {
     width: 380px;
     height: 260px;

     .title {
      width: 380px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 15px;
      }
     }

     .personalDetail {
      width: 380px;
      height: 230px;

      .Detail {
       width: 125px;
       height: 50px;

       h1 {
        font-size: 9px;
       }

       h2 {
        font-size: 8px;
       }
      }
     }
    }

    .socialInfo {
     width: 380px;
     height: 160px;

     .title {
      width: 380px;
      height: 79px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 380px;
      height: 60px;

      .Detail {
       width: 125px;
       height: 50px;

       h1 {
        font-size: 9px;
       }

       h2 {
        font-size: 8px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 380px;
     height: 230px;

     .title {
      width: 380px;
      height: 29px;

      h1 {
       font-size: 16px;
      }
     }

     .personalDetail {
      width: 380px;
      height: 200px;

      .Detail {
       width: 125px;
       height: 50px;

       h1 {
        font-size: 9px;
       }

       h2 {
        font-size: 8px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 300px) and (max-width: 399px) {
 .userdetails {
  width: 100%;
  height: 143vh !important;

  .laptopSize {
   width: 300px;
   padding: 0;
   margin: 0;
   height: 144vh !important;

   .backBtn {
    width: 300px;
    margin-top: 0px;
    height: 10vh;
    margin-bottom: 10px;

    .button {
     width: 110px;
     height: 5vh;

     img {
      width: 16px;
      height: 20px;
      margin-right: 5px;
     }

     h1 {
      font-size: 6px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 300px;
    height: 20px !important;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    h1 {
     font-size: 12px;
     margin: 0px;
    }
   }

   .title .Btns {
    width: 125px;
    height: 20px;

    button {
     width: 60px;
     height: 20px;
    }

    #blacklist {
     border-radius: 6px;
     font-size: 5px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.1em;
    }

    #activate {
     border-radius: 6px;
     line-height: 16px;
     font-size: 5px;
     letter-spacing: 0.1em;
    }
   }

   .userPro {
    width: 300px;
    height: 90px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 285px;
     margin-bottom: 0;
     height: 61px;

     img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
     }

     .profileName {
      width: 100px;
      height: 30px;

      h1 {
       font-size: 8px;
       height: 17px;
       margin-top: 0;
       margin-bottom: 0;
       margin: 0;
      }

      h2 {
       font-size: 6px;
       height: 10px;
       margin-top: 0;
      }
     }

     .userTier {
      width: 93px;
      height: 30px;

      h1 {
       font-size: 8px;
       margin-top: 3px;
       margin-bottom: 0;
      }

      .stars {
       height: 5.43px;
       margin-left: -10px;
       margin-top: 0;
       width: 20px;

       img {
        height: 5px;
        width: 5px;
       }
      }
     }

     .bankAmo {
      height: 25px;
      margin: 0;
      width: 120px;
      margin-top: 6px;
      padding: 0;
      padding-left: 5px;

      h1 {
       font-size: 8px;
       margin-bottom: 0;
       margin: 0;
       margin-top: 3px;
      }

      h2 {
       margin-top: -9px;
       font-size: 6px;
      }
     }
    }

    .bottom {
     width: 280px;
     height: 20px;

     button {
      width: 46.66px;
      height: 20px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 6.5px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 6.5px;
      }
     }
    }
   }

   .userDetail {
    width: 300px;
    height: 1209px;
    padding-left: 10px;
    align-items: start;
    padding-right: 0;

    .personalInfo {
     width: 280px;
     height: 150px;

     .title {
      width: 280px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 100px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        font-size: 6px;
        margin: 0;
       }

       h2 {
        width: 85px;
        height: 20px;
        font-size: 5px;
       }
      }
     }
    }

    .educationInfo {
     width: 280px;
     height: 150px;

     .title {
      width: 280px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 100px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        font-size: 6px;
        margin: 0;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }

    .socialInfo {
     width: 280px;
     height: 90px;

     .title {
      width: 280px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 50px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        margin: 0;
        font-size: 6px;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 280px;
     height: 105px;

     .title {
      width: 280px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 70px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        margin: 0;
        font-size: 6px;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }
   }
  }
 }
}

@media (min-width: 300px) and (max-width: 399px) {
 .userdetails {
  width: 100%;
  height: 143vh !important;

  .laptopSize {
   width: 300px;
   padding: 0;
   margin: 0;
   height: 144vh !important;

   .backBtn {
    width: 300px;
    margin-top: 0px;
    height: 10vh;
    margin-bottom: 10px;

    .button {
     width: 110px;
     height: 5vh;

     img {
      width: 16px;
      height: 20px;
      margin-right: 5px;
     }

     h1 {
      font-size: 6px;
      margin-top: 5px;
     }
    }
   }

   .title.tit {
    width: 300px;
    height: 20px !important;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    h1 {
     font-size: 12px;
     margin: 0px;
    }
   }

   .title .Btns {
    width: 125px;
    height: 20px;

    button {
     width: 60px;
     height: 20px;
    }

    #blacklist {
     border-radius: 6px;
     font-size: 5px;
     line-height: 16px;
     text-align: center;
     letter-spacing: 0.1em;
    }

    #activate {
     border-radius: 6px;
     line-height: 16px;
     font-size: 5px;
     letter-spacing: 0.1em;
    }
   }

   .userPro {
    width: 300px;
    height: 90px;
    padding-left: 10px;
    border-radius: 4px;
    margin-bottom: 30px;

    .top {
     width: 285px;
     margin-bottom: 0;
     height: 61px;

     img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 5px;
     }

     .profileName {
      width: 100px;
      height: 30px;

      h1 {
       font-size: 8px;
       height: 17px;
       margin-top: 0;
       margin-bottom: 0;
       margin: 0;
      }

      h2 {
       font-size: 6px;
       height: 10px;
       margin-top: 0;
      }
     }

     .userTier {
      width: 93px;
      height: 30px;

      h1 {
       font-size: 8px;
       margin-top: 3px;
       margin-bottom: 0;
      }

      .stars {
       height: 5.43px;
       margin-left: -10px;
       margin-top: 0;
       width: 20px;

       img {
        height: 5px;
        width: 5px;
       }
      }
     }

     .bankAmo {
      height: 25px;
      margin: 0;
      width: 120px;
      margin-top: 6px;
      padding: 0;
      padding-left: 5px;

      h1 {
       font-size: 8px;
       margin-bottom: 0;
       margin: 0;
       margin-top: 3px;
      }

      h2 {
       margin-top: -9px;
       font-size: 6px;
      }
     }
    }

    .bottom {
     width: 280px;
     height: 20px;

     button {
      width: 46.66px;
      height: 20px;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 6.5px;
      }
     }

     .active {
      border-bottom: 2px solid #39CDCC;

      h1 {
       font-style: normal;
       font-weight: 400;
       font-size: 6.5px;
      }
     }
    }
   }

   .userDetail {
    width: 300px;
    height: 1209px;
    padding-left: 10px;
    align-items: start;
    padding-right: 0;

    .personalInfo {
     width: 280px;
     height: 150px;

     .title {
      width: 280px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 100px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        font-size: 6px;
        margin: 0;
       }

       h2 {
        width: 85px;
        height: 20px;
        font-size: 5px;
       }
      }
     }
    }

    .educationInfo {
     width: 280px;
     height: 150px;

     .title {
      width: 280px;
      margin-top: 10px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 100px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        font-size: 6px;
        margin: 0;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }

    .socialInfo {
     width: 280px;
     height: 90px;

     .title {
      width: 280px;
      height: 29px;

      h1 {
       font-style: normal;
       font-weight: 500;
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 50px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        margin: 0;
        font-size: 6px;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }

    .guarantorInfo {
     width: 280px;
     height: 105px;

     .title {
      width: 280px;
      height: 29px;

      h1 {
       font-size: 10px;
      }
     }

     .personalDetail {
      width: 280px;
      height: 70px;

      .Detail {
       width: 85px;
       height: 30px;

       h1 {
        margin: 0;
        font-size: 6px;
       }

       h2 {
        font-size: 5px;
       }
      }
     }
    }
   }
  }
 }
}