.Dashboard {
 width: 100%;
 height: 222vh;
 background-image: url("../../asset/dashblur.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;

 .laptopSize {
  width: 1000px;
  height: 167vh;

  .title {
   height: 10vh;
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   margin-top: 10px;
   margin-bottom: 20px;

   h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #213F7D;
   }
  }

  .content {
   margin-top: 20px;
   height: 80vh;
   border-radius: 8px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   h1 {
    font-style: normal;
    font-weight: bolder;
    text-shadow: 2px 2px #213F7D;
    font-size: 74px;
    line-height: 28px;
    color: #213F7D;
   }
  }
 }
}

@media (min-width: 900px) and (max-width: 999px) {
 .Dashboard .laptopSize {
  width: 900px;
  height: 167vh;
 }
}

@media (min-width: 800px) and (max-width: 899px) {
 .Dashboard .laptopSize {
  width: 800px;
  height: 167vh;
 }

}

@media (min-width: 700px) and (max-width: 799px) {
 .Dashboard .laptopSize {
  width: 700px;
  height: 167vh;
 }

}

@media (min-width: 600px) and (max-width: 699px) {
 .Dashboard .laptopSize {
  width: 600px;
  height: 167vh;
 }

}

@media (min-width: 500px) and (max-width: 599px) {
 .Dashboard {
  .laptopSize {
   width: 500px;
   height: 167vh;

   .title {
    height: 6vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    h1 {
     font-size: 18px;
    }
   }

   .content {
    h1 {
     font-size: 50px;
    }
   }
  }
 }

}

@media (min-width: 400px) and (max-width: 499px) {
 .Dashboard {
  .laptopSize {
   width: 400px;
   height: 167vh;

   .title {
    height: 6vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    h1 {
     font-size: 16px;
    }
   }

   .content {
    h1 {
     font-size: 40px;
    }
   }
  }
 }

}

@media (min-width: 300px) and (max-width: 399px) {
 .Dashboard {
  .laptopSize {
   width: 300px;
   height: 167vh;

   .title {
    height: 6vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    h1 {
     font-size: 14px;
    }
   }

   .content {
    h1 {
     font-size: 30px;
     text-shadow: 1px 1px #213F7D;
    }
   }
  }
 }

}

@media (min-width: 280px) and (max-width: 299px) {
 .Dashboard {
  .laptopSize {
   width: 280px;
   height: 167vh;

   .title {
    height: 6vh;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    h1 {
     font-size: 14px;
    }
   }

   .content {
    h1 {
     font-size: 30px;
     text-shadow: 1px 1px #213F7D;
    }
   }
  }
 }

}